#wrapper {
  margin: auto;
  width: 1440px;
}

svg {
  border: 1px solid gray;
  border-radius: 10px;
  height: 600px;
  width: 49%;
  margin: 5px;
}

html {
  font-family: 'Trebuchet MS', sans-serif;
}

#gridmap {
  width: 99%;
}

h2, h3 {
  text-align: center;
}
